.wrapper {
  position: relative;
  border-radius: var(--border-radius-01);
  background-color: var(--color-tertiary);
  padding: var(--spacing-x08) var(--spacing-x03);

  &.full {
    grid-area: content;
  }

  &.content {
    grid-area: content;
  }

  &.center {
    display: flex;
    justify-content: center;
  }
}
