.wrapper {
  position: relative;
  border-radius: var(--border-radius-01);
  background-color: var(--color-tertiary);

  &.content {
    grid-area: :content;
  }

  &.full {
    grid-area: content;
  }
}
