* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  font-size: var(--base-font-size);
}

h1 {
  color: var(--color-secondary);
  font-size: 2rem;

  @media (width >= 768px) {
    font-size: 3.6rem;
  }
}

h2 {
  color: var(--color-quinary);
  font-size: 2rem;
  line-height: 1.4;
}

ul {
  display: flex;
  row-gap: var(--spacing-x06);
  flex-direction: column;
}

li {
  background-color: var(--gray-transparent);
  padding: var(--spacing-x02) var(--spacing-x04);
  width: 100%;
  min-height: 4.4rem;
  font-size: var(--base-font-size);
  line-height: 1.75;
  list-style-type: none;
}

span {
  display: block;
  color: var(--color-quinary);
  font-size: 2rem;
  line-height: 1.75;
}

:root {
  font-style: normal;
  font-weight: var(--base-font-weight);
  line-height: 1.4;
  font-family: var(--base-font-family);
  font-optical-sizing: auto;

  /* font-size */
  --base-font-family: "Noto Sans", Arial, sans-serif;
  --base-font-size: 1.6rem;
  --base-font-weight: 400;

  /* font-weight */
  --bold-font-weight: 600;

  /* main colors */
  --color-primary: #ffff;
  --color-secondary: #002597;
  --color-tertiary: #efefef;
  --color-quaternairy: #ef3216;
  --color-quinary: #1a1f36;

  --color-black: #000;
  --color-gray: #999;
  --gray-transparent: rgba(0, 0, 0, 0.02);

  /* validation */
  --error-color: #ef3216;
  --valid-color: #007c01;
  --aware-color: #f8d720;
  --outline-color-01: rgb(84 105 212 / 0.5);

  /* spacings */
  --spacing-x01: 0.4rem;
  --spacing-x02: 0.8rem;
  --spacing-x03: 1.2rem;
  --spacing-x04: 1.6rem;
  --spacing-x05: 2rem;
  --spacing-x06: 2.4rem;
  --spacing-x07: 2.8rem;
  --spacing-x08: 3.2rem;
  --spacing-x09: 3.6rem;
  --spacing-x10: 4rem;
  --spacing-x11: 4.4rem;
  --spacing-x12: 4.8rem;

  /* borders */
  --border-01: 1px solid var(--color-primary);

  /* border radius */
  --border-radius-01: var(--spacing-x05);
  --border-radius-02: var(--spacing-x01);

  /* transitions */
  --transition-01: transform 250ms ease;
  --transition-02: opacity 250ms ease;
  --transition-03: background-color 300ms ease, box-shadow 300ms;

  /* box-shadows */
  --box-shadow-01: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  --box-shadow-02: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    var(--color-secondary) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  --box-shadow-03: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --box-shadow-04: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    var(--color-quaternairy) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;

  /* gradients */
  --gradient-10: rgb(0 0 0 / 30%);
}

.hero {
  margin-block-end: var(--spacing-x04);
}

.grid {
  --column-gap: var(--spacing-x07);
  --grid-padding: var(--spacing-x04);

  display: grid;

  grid-template-columns: [full-start content-start] repeat(4, 1fr) [content-end full-end];
  gap: var(--column-gap);
  column-gap: var(--column-gap);
  padding: var(--grid-padding);

  @media (width >= 768px) {
    grid-template-columns:
      [full-start] calc(48px - var(—column-gap)) [content-start] repeat(12, 1fr)
      [content-end] calc(48px - var(—column-gap)) [full-end];
  }

  @media (width >= 1440px) {
    grid-template-columns:
      [full-start] auto [content-start] repeat(12, minmax(auto, 80px))
      [content-end] auto [full-end];
  }
}
