* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-font-size);
}

:root {
  font-family: var(--base-font-family);
  font-optical-sizing: auto;
  font-weight: var(--base-font-weight);
  line-height: 1.4;
  font-style: normal;

  /* font-size */
  --base-font-family: "Noto Sans", Arial, sans-serif;
  --base-font-size: 1.6rem;
  --base-font-weight: 400;
}
